* {
    box-sizing: border-box;
}
html, body {
    font-size: 16px;
    font-family: arial;

}
h1 {
    text-align: center;
    font-size: 2em;
}
h2 {
    font-size: 1.5em;
}
p {
    text-align: center;
}

header ul {
   display: flex;
   justify-content: space-around;
   list-style: none;
}
.quiz-result, .js-quiz, .quiz {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40%;
    padding: 20px 20px;
    background-color: lightgray;

}
.start-quiz {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.quiz ul {
    list-style: none;
    padding: 0;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}
#paint-rollers, #wrong-answer, #paint-bucket, #right-answer {
    height: 350px;
    
}
#button-start, #button-submit, #paint-bucket {
    margin-top: 2em;
}
.start-quiz h2 {
    text-align: center;
}
