/* default styling */
* {
    box-sizing: border-box;
}
html, body {
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    color: #1a1a1a;
    width: 100%;
    background:#c2a0da;
   

}
button {
    background-color: #4985f9;
    border: 1px solid #4985f9;
    border-radius: 5px;
    padding: 5px 10px;
    font-weight: bold;
    color: white;
    box-shadow: 2px 2px 2px grey;
}
button:hover {
    background-color:#EDBE4A;
    border: 1px solid #EDBE4A;
    cursor: pointer;
    color: black;
}
h1 {
    text-align: center;
    font-size: 2em;
}
h2 {
    font-size: 1.5em;
}
p {
    text-align: center;
}

header ul {
   display: flex;
   justify-content: space-around;
   align-items:center;
   list-style: none;
   padding-left: 200px;
   padding-right: 250px;
   font-size: 1.5em;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}
input:hover, label:hover {
    cursor: pointer;
}

/* styling for javascript/jquery pages */
.js-quiz {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    min-height: 500px;
    padding: 30px 30px;
    background-color: #EDF8F5;
    border-radius: 10px;
    box-shadow: 10px 10px 8px #6a4485;

}
.js-quiz-form {
    font-size: 1.3em;
}
.js-quiz-form legend {
    text-align: left;
}

.js-quiz-form ul {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 500px;
    text-align: left;
}
.js-quiz-form ul button {
width: 40%;    
}

.start-quiz, .js-quiz .js-answer, .js-results {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* image styles */
#paint-rollers, #wrong-answer, #paint-bucket, #right-answer {
    width: 50%;
    border-radius: 5px;
    
}

#button-start, #button-submit, #paint-bucket {
    margin-top: 2em;

}


.start-quiz h2 {
    text-align: center;
}

.js-answer p {
 font-size: 1.2em;
}
.js-answer h3 {
    margin-bottom: 0;
}

@media only screen and (max-width: 975px){
    .js-quiz, .quiz-result {
        width: 80%;
    }
    header ul {
        font-size: 1.2em;
        padding: 0;
    }
    #paint-rollers, #wrong-answer, #paint-bucket, #right-answer {
        width: 75%;
    }
}

@media only screen and (max-width: 375px) {
    .js-quiz {
        padding: 20px 20px;
        width: 80%;
    }
    .radiogroup {
        padding: 0;
    }

}